/*
Theme Name: Sorocaba Com - Teste
Author: Gabriel Vidal
Version: 1.0
*/
* {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  margin: auto;
}

#header {
  background: #363636;
}
#header .logo {
  display: block;
  text-align: center;
}
#header .logo span {
  display: inline-block;
}
#header .logo h1 {
  font: Bold 23px/36px Montserrat;
  color: #FFF;
  text-transform: uppercase;
  display: inline-block;
}

#banner {
  width: 100%;
  height: auto;
  position: relative;
  background: transparent url("../images/Imagem2.png") 0% 0% no-repeat padding-box;
}
#banner .item {
  display: block;
  margin: auto;
  width: 50%;
  padding: 30px 0;
  box-shadow: 0px 3px 6px #00000099;
  background: linear-gradient(to bottom right, #9C020480, #4D101045);
  opacity: 1;
}
#banner .item img {
  display: block;
  margin: auto;
}
#banner .item h2 {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #F0F0F2;
  width: 45%;
  margin: 20px auto !important;
}
#banner .scroll-downs {
  position: absolute;
  right: 0;
  bottom: -2%;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
#banner .scroll-downs .mouse {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  background: #FFF;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
#banner .scroll-downs .mouse .scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
#banner .img-parallax {
  position: fixed;
  width: 100%;
  height: 1000px;
}
#banner #layer_1 {
  background: url("../images/pena1.png") no-repeat 0px 200px;
}
#banner #layer_2 {
  background: url("../images/pena2.png") no-repeat 600px 400px;
}
#banner #layer_3 {
  background: url("../images/pena3.png") no-repeat 700px 10px;
}
#banner #layer_4 {
  background: url("../images/pena4.png") no-repeat -28px 400px;
}

#cards {
  width: 100%;
  height: auto;
  background: #363636;
  padding: 200px 0;
}
#cards .carousel-inner {
  overflow: visible;
}
#cards .carousel-control-prev, #cards .carousel-control-next {
  z-index: 9999;
  position: absolute;
  color: #FFF;
  font-size: 40px;
  left: -20%;
  top: 40%;
}
#cards a:focus {
  text-decoration: none !important;
}
#cards .carousel-control-prev:hover, #cards .carousel-control-next:hover {
  text-decoration: none !important;
}
#cards .carousel-control-next {
  left: auto;
  right: -20%;
}
#cards .item {
  width: 27%;
  height: 520px;
  border-radius: 30px;
  background: #FFF;
  display: inline-block;
  position: relative;
  margin: 0 50px;
}
#cards .item .image {
  background: #363636;
  border: 2px solid #FFF;
  width: 95%;
  height: auto;
  border-radius: 99px;
  position: absolute;
  top: -15%;
  left: 2.6%;
}
#cards .item .image img {
  width: 100%;
  height: auto;
}
#cards .item .content {
  height: 153px;
  padding: 20px;
  position: absolute;
  bottom: 10%;
}
#cards .item .content h3 {
  text-align: left;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #363636;
}
#cards .item:first-child {
  margin-left: 0 !important;
}
#cards .item:last-child {
  margin-right: 0 !important;
}

#contato {
  width: 100%;
  height: 760px;
  background: linear-gradient(to bottom right, #7DEDE2, #58B790);
  position: relative;
}
#contato .box_form {
  width: 100%;
  height: 850px;
  padding: 0 150px;
  background: #FFF;
  top: -42px;
  border-radius: 15px;
  position: absolute;
}
#contato .box_form h2 {
  display: block;
  text-align: center;
  font: Bold 35px/46px Montserrat;
  color: #63C7A9;
  margin: 80px 0 40px 0 !important;
}
#contato .box_form p {
  color: #363636;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
}
#contato .box_form form {
  width: 61%;
  margin: 50px auto;
  text-align: center;
}
#contato .box_form form input, #contato .box_form form textarea {
  background: transparent;
  border: 1px solid #363636;
  display: inline-block;
  width: 238px;
  height: 48px;
  margin: 0 24px;
  padding-left: 15px;
}
#contato .box_form form textarea {
  display: block;
  width: 528px;
  height: 197px;
  padding-top: 15px;
  margin: 39px auto;
}
#contato .box_form form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: left;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #363636;
}
#contato .box_form form ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: left;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #363636;
}
#contato .box_form form :-ms-input-placeholder {
  /* IE 10+ */
  text-align: left;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #363636;
}
#contato .box_form form :-moz-placeholder {
  /* Firefox 18- */
  text-align: left;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #363636;
}
#contato .box_form form button {
  width: 249px;
  height: 48px;
  display: block;
  border: none;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  background: #63C7A9;
  border: 2px solid #63C7A9;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
#contato .box_form form button:hover {
  border: 2px solid #63C7A9;
  color: #63C7A9;
  background: transparent;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
#contato .box_form input:first-child {
  margin-left: 0 !important;
}

#rodape {
  background: #363636;
  height: 210px;
}
#rodape a[href="#top"] {
  padding: 10px;
  position: fixed;
  top: 90%;
  right: 40px;
  display: none;
  font-size: 40px;
  background: #FFF;
  color: #363636;
  border-radius: 60%;
}
#rodape a[href="#top"]:hover {
  text-decoration: none;
}
#rodape a:focus {
  text-decoration: none !important;
}

/*****MOBILE*******/
@media (max-width: 1024px) {
  #banner .item {
    width: 90%;
  }

  #banner .item img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }

  #cards {
    padding: 70px 0;
  }

  #cards .item {
    width: 45%;
    height: auto;
    position: relative;
    margin: 20px;
    display: inline-grid;
  }

  #cards .item:last-child {
    margin-left: 0;
  }

  #cards .item .content {
    position: relative;
  }

  #cards .item .image {
    position: relative;
    top: 0;
    height: auto;
  }

  #contato .box_form {
    width: 100%;
    height: auto;
  }

  #contato .box_form form {
    width: 100%;
  }

  #contato .box_form {
    position: relative;
    height: auto;
    top: 0;
    padding: 10px;
  }

  #contato .box_form form textarea {
    width: 100%;
    height: 197px;
  }

  #contato .box_form form input, #contato .box_form form textarea {
    width: 100%;
    height: 48px;
    margin: 10px auto;
    display: block;
  }

  #contato .box_form form button {
    width: 100%;
  }

  #rodape a[href="#top"] {
    right: 20%;
  }
}
@media (max-width: 766px) {
  #banner .item {
    width: 90%;
  }

  #banner .item img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }

  #cards .item {
    width: 100%;
    height: auto;
    position: relative;
    margin: 20px auto;
  }

  #cards .item .content {
    position: relative;
  }

  #cards .item .image {
    position: relative;
    top: 0;
    height: auto;
  }

  #contato .box_form {
    width: 100%;
    height: auto;
  }

  #contato .box_form form {
    width: 100%;
  }

  #contato .box_form {
    position: relative;
    height: auto;
    top: 0;
    padding: 10px;
  }

  #contato .box_form form textarea {
    width: 100%;
    height: 197px;
  }

  #contato .box_form form input, #contato .box_form form textarea {
    width: 100%;
    height: 48px;
    margin: 10px auto;
    display: block;
  }

  #contato .box_form form button {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
